.grid {
    display: grid;
    height: calc(100vh - 20px);
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 11fr 1fr;
    grid-template-areas: "view" "controls";
}

.view {
    grid-area: view;
}

    .view > #ascii {
        display: block;
    }

.controls {
    grid-area: controls;
    display: flex;
    justify-content: center;
    align-items: center;
}

video, canvas {
    display: none;
}

#ascii {
    font: bold 8px/5px monospace;
}