<div class="grid">
    <div class="view">
        <video #video autoplay></video>
        <canvas #canvas></canvas>
        <div class="center">
            <div class="stream-list">
                <h1>Available Streams</h1>
                <ul>
                    <li *ngFor="let stream of streams">
                        <span [innerHtml]="stream"></span>
                        <button (click)="watchStream(stream)" [disabled]="isWatching">Watch</button>
                        <button (click)="stopWatchingStream()" [disabled]="!isWatching">Stop</button>
                    </li>
                </ul>
            </div>
            <pre id="ascii" #ascii></pre>
        </div>
    </div>
    <div class="controls">
        <input type="text" [(ngModel)]="streamName" autofocus />
        <button (click)="startStream()" [disabled]="isStreaming">Start Streaming</button>
        <button (click)="stopStream()" [disabled]="!isStreaming">Stop Streaming</button>
    </div>
</div>