.grid {
    display: grid;
    height: calc(100vh - 20px);
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 11fr 1fr;
    grid-template-areas: "view" "controls";
}

.view {
    grid-area: view;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    grid-area: controls;
    display: flex;
    justify-content: center;
    align-items: center;
}

video, canvas {
    display: none;
}

video {
    transform: rotateY(180deg);
}

.stream-list {
    color: azure;
    font-family: Arial;
}

#ascii {
    border-radius: 6px;
    border: dotted black 3px;
    font: bold 1.2rem/.7rem monospace;
    font-weight: 900;
    display: block;
}